.input-group input[type=text] {
  width: 100%;
  padding-right: 3pc;
  padding-left: calc(1.5em + 1.75rem);
  background-repeat: no-repeat;
  background-position: center left calc(0.4875rem);
  background-size: calc(1em + 0.375rem);
}

#textSearch {
  margin-right: 1pc;
}

.card {
  border-radius: 1pc;
}

.card-text-movie {
  position: absolute;
  z-index: 9999;
  width: 100%;
  //background-color: red;
  //transform: translateY(50%);
  //bottom: 100%;
}

.card-text-movie .card {
  //margin-top: -50%;
  width: 90%;
  margin-left: 5%;
}

.card-text-movie .card-body {
  width: 100%;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.form-control {
  border-radius: 20pc !important;
}

.input-group .input-group-prepend {
  position: absolute;
  right: 6px;
  top: 4px;
  bottom: 4px;
  z-index: 9;
}

#inputRating {
  //width: 40%;
}
